body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #2d2d2a;
}

.title-list {
  margin: 5% auto 0 auto;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38423b;
}

.container-main {
  margin: 2px auto 0 auto;
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #38423b;
}

.container-input {
  width: auto;
  height: 50px;
}

.container-add-item {
  height: 35px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #bc3908;
}

#insert-item {
  height: 20px;
  width: 150px;
  padding-left: 10px;
  border-radius: 10px;
  border-style: none;
}

.container-btn {
  height: auto;
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-main {
    width: 320px;
  }
}

/* .container-list-item{
  width: 150px;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
} */

#item-list {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 255, 0, 0.404);
  list-style-position: outside;
  list-style-type: none;
}

/* Adiciona risco no label do item */
.item-checked {
  text-decoration: line-through;
}

button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#btn-add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-style: none;
}

.edit-btn, .delete-btn {
  margin: 2px;
  background-color: white;
  border-style: none;
  float: right;
}
